# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# React specific
*.cache/
public/static/
public/*.map

# Testing
coverage/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Miscellaneous
.DS_Store
Thumbs.db